*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(127, 124, 97);
    color: #f9fcee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}
.game_board{
    display: grid;
    grid-template-columns: repeat(3, 85px);
    grid-template-rows: repeat(3, 85px);
    gap: 2px;
    color: #745944;
    font-size: 72px;
}

.game_board_item{
    background-color: #f9fcee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taken {
    pointer-events: none;
}

.restart_btn{
    margin-top: 25px;
    background-color: red;
    width: 150px;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.restart_btn:hover{
    background-color: rgb(178, 4, 4);
}